li {
    list-style: none;
}
.Header {
    background-color: #64c0fd;
    height:  100px;
    color: rgb(255, 255, 255);
}

.header-list li{
    float: left;
    padding: 30px 40px;
}
.header-awal{
    font-size:36px;
    float: left;
    padding: 20px 20px;
}


.main {
    background-color: #f8f85f;
    color: #000000;
    padding: 100px 80px; 

}

.section-title{
    border-bottom: 2px solid #133466;
    font-size: 20px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.contents{
    height: 500px;
    margin-top: 100px;
}

.content-item{
    float: left;
    margin-right: 40px;
}

.content-item p{
    font-size: 24px;
    margin-top: 30px;
}

.copy-container h1{
    font-size: 140px;
}

.copy-container h2{
    font-size: 60px;
}

.copy-container span{
    color: red;
}

.contact-form {
    padding-top: 100px;
}

input, textarea{
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #dee7ec;
}
.contact-submit {
    background :#dee7ec ;
    color: #889eab;
}


.footer{
    background-color:#96cdf1;
    color: rgb(0, 0, 0);
    height: 120px;
    padding: 40px;
}

.footer-logo{
    font-size:32px;
    float: left;
    
}

.footer-list{
    float: right;
}

.footer-list li{
    padding-bottom: 20px;
}